body {
	background: black;
}
* {
	border: 0px dashed red;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
	margin-bottom: 30px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 5px;
}
input {
	border: none;
	border-bottom: grey 2px;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: grey;
	padding: 5px;
	margin-top: 20px;
}
